# Project exclude paths
/.gradle/
/JSON Database/task/build/
/JSON Database/task/out/production/classes/
/JSON Database/task/out/test/classes/
/Topics/Anonymous classes/String reverser/out/
/Topics/Anonymous classes/String reverser/out/production/classes/
/Topics/Comparable/Implement compareTo method/out/
/Topics/Comparable/Implement compareTo method/out/production/classes/
/Topics/Comparable/Implement comparing by additional fields/out/
/Topics/Comparable/Implement comparing by additional fields/out/production/classes/
/Topics/Comparable/Natural ordering/out/
/Topics/Comparable/Natural ordering/out/production/classes/
/Topics/Comparable/Theory/out/
/Topics/Comparable/Theory/out/production/classes/
/Topics/Custom exceptions/Checked exception with constructor/out/
/Topics/Custom exceptions/Checked exception with constructor/out/production/classes/
/Topics/Custom exceptions/Custom exceptions features/out/
/Topics/Custom exceptions/Custom exceptions features/out/production/classes/
/Topics/Custom exceptions/Square class/out/
/Topics/Custom exceptions/Square class/out/production/classes/
/Topics/Custom exceptions/Theory/out/
/Topics/Custom exceptions/Theory/out/production/classes/
/Topics/Custom threads/String processor/out/
/Topics/Custom threads/String processor/out/production/classes/
/Topics/Custom threads/Theory/out/
/Topics/Custom threads/Theory/out/production/classes/
/Topics/Default methods/Implement a default method/out/
/Topics/Default methods/Implement a default method/out/production/classes/
/Topics/Executors/Check whether a number is prime/out/
/Topics/Executors/Check whether a number is prime/out/production/classes/
/Topics/Processing strings/Create an euphonious word/out/
/Topics/Processing strings/Create an euphonious word/out/production/classes/
/Topics/Processing strings/Determine the value/out/
/Topics/Processing strings/Determine the value/out/production/classes/
/Topics/Processing strings/Move the first N characters/out/
/Topics/Processing strings/Move the first N characters/out/production/classes/
/Topics/Processing strings/Number of occurrences/out/
/Topics/Processing strings/Number of occurrences/out/production/classes/
/Topics/Processing strings/Parse url/out/
/Topics/Processing strings/Parse url/out/production/classes/
/Topics/Processing strings/Theory/out/
/Topics/Processing strings/Theory/out/production/classes/
/Topics/The Collections Framework overview/Blacklist/out/
/Topics/The Collections Framework overview/Blacklist/out/production/classes/
/Topics/The Collections Framework overview/Collection interfaces/out/
/Topics/The Collections Framework overview/Collection interfaces/out/production/classes/
/Topics/The Collections Framework overview/Collections properties/out/
/Topics/The Collections Framework overview/Collections properties/out/production/classes/
/Topics/The Collections Framework overview/Creating instances/out/
/Topics/The Collections Framework overview/Creating instances/out/production/classes/
/Topics/The Collections Framework overview/Squares list/out/
/Topics/The Collections Framework overview/Squares list/out/production/classes/
/Topics/The Collections Framework overview/Theory/out/
/Topics/The Collections Framework overview/Theory/out/production/classes/
/Topics/The List interface/Backward indexes/out/
/Topics/The List interface/Backward indexes/out/production/classes/
/Topics/The List interface/Companies/out/
/Topics/The List interface/Companies/out/production/classes/
/Topics/The List interface/Filtering the list/out/
/Topics/The List interface/Filtering the list/out/production/classes/
/Topics/The List interface/The longest string in the list/out/
/Topics/The List interface/The longest string in the list/out/production/classes/
/Topics/The List interface/Theory/out/
/Topics/The List interface/Theory/out/production/classes/
/Topics/The Map interface/Counting words/out/
/Topics/The Map interface/Counting words/out/production/classes/
/Topics/The Map interface/Creating a map/out/
/Topics/The Map interface/Creating a map/out/production/classes/
/Topics/The Map interface/Getting submaps/out/
/Topics/The Map interface/Getting submaps/out/production/classes/
/Topics/The Map interface/Modifying a map/out/
/Topics/The Map interface/Modifying a map/out/production/classes/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/production/classes/
/Topics/The Map interface/Theory/out/
/Topics/The Map interface/Theory/out/production/classes/
/Topics/The Set interface/A subset of sorted set/out/
/Topics/The Set interface/A subset of sorted set/out/production/classes/
/Topics/The Set interface/Creating a set/out/
/Topics/The Set interface/Creating a set/out/production/classes/
/Topics/The Set interface/Essentials/out/
/Topics/The Set interface/Essentials/out/production/classes/
/Topics/The Set interface/Output elements/out/
/Topics/The Set interface/Output elements/out/production/classes/
/Topics/The Set interface/Removing elements/out/
/Topics/The Set interface/Removing elements/out/production/classes/
/Topics/The Set interface/Theory/out/
/Topics/The Set interface/Theory/out/production/classes/
/Topics/Thread management/Ordering the execution of threads/out/
/Topics/Thread management/Ordering the execution of threads/out/production/classes/
/Topics/Thread management/Summing with threads/out/
/Topics/Thread management/Summing with threads/out/production/classes/
/Topics/Thread management/Theory/out/
/Topics/Thread management/Theory/out/production/classes/
/Topics/Thread management/Workers in programs/out/
/Topics/Thread management/Workers in programs/out/production/classes/
/Topics/Threads as objects/Counting threads/out/
/Topics/Threads as objects/Counting threads/out/production/classes/
/Topics/Threads as objects/Getting current thread info/out/
/Topics/Threads as objects/Getting current thread info/out/production/classes/
/Topics/Threads as objects/Is thread daemon/out/
/Topics/Threads as objects/Is thread daemon/out/production/classes/
/Topics/Threads as objects/Theory/out/
/Topics/Threads as objects/Theory/out/production/classes/
/Topics/Threads as objects/Thread name/out/
/Topics/Threads as objects/Thread name/out/production/classes/
/Topics/Throwing exceptions/Theory/out/
/Topics/Throwing exceptions/Theory/out/production/classes/
/Topics/Throwing exceptions/Throw a checked exception/out/
/Topics/Throwing exceptions/Throw a checked exception/out/production/classes/